<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="BATCH" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="BATCH"/>
    </root>
</configuration>
